<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>666260569022-v2dvmk2qdlsklk6u4rp9jmh7sbfduilv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666260569022-v2dvmk2qdlsklk6u4rp9jmh7sbfduilv</string>
	<key>API_KEY</key>
	<string>AIzaSyCwLWY7nYqpFeZNvqNB1oBItF11Gj13FXU</string>
	<key>GCM_SENDER_ID</key>
	<string>666260569022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.markoelez.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-8903d</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-8903d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:666260569022:ios:69ab68ae091a79c4</string>
	<key>DATABASE_URL</key>
	<string>https://instaclone-8903d.firebaseio.com</string>
</dict>
</plist>
